$color-white: #ffffff;
$color-grey: #8F8F8F;
$color-text: #F2F2F2;
$color-text-light: #A0A0A0;
$color-text-light-grey: #666666;
$color-text-dark: #333333;
$bg-color: #464646;
$red: #F13651;
$border-text: rgba(242, 242, 242, 0.4);
