
@font-face{
    font-family: 'Madeevolvesans';
    src: url(../../fonts/madeevolvesans/Madeevolvesans.ttf);
}

@font-face{
    font-family: 'Madeevolvesans-bold';
    src: url(../../fonts/madeevolvesans/Madeevolvesansbold.ttf);
}

@font-face{
    font-family: 'Madeevolvesans-light';
    src: url(../../fonts/madeevolvesans/Madeevolvesanslight.ttf);
}

@font-face{
    font-family: 'Madeevolvesans-medium';
    src: url(../../fonts/madeevolvesans/Madeevolvesansmedium.ttf);
}

@font-face{
    font-family: 'Madeevolvesans-thin';
    src: url(../../fonts/madeevolvesans/Madeevolvesansthin.ttf);
}